.nav_bar {
  background-color: dimgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.footer_nav_bar {
  flex-direction: row-reverse;
}

.logo {
  max-width: 5%;
  width: 10%;
}

.navigation {
  flex: 1 1 80%;
  list-style: none;
}

.navigation.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation_link a {
  text-decoration: none;
  color: white;
}

.navigation_link a:active {
  text-decoration: none;
  color: dodgerblue;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.todo_section {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todo_state_sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_state_sections .column {
  border: 0.5px solid black;
  padding: 10px 20px;
  height: 580px;
  flex: 1 0 50%;
}

.todo_heading {
  text-align: center;
}

.todo_add_new_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 10px;
}

.todo_add_new_input {
  padding: 5px 10px;
}

.add_task_button {
  background-color: forestgreen;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 5px;
  cursor: pointer;
}

.more_actions_button {
  cursor: pointer;
  position: relative;
}

.more_actions_button .tooltip_content {
  visibility: hidden;
  position: absolute;
  top: -5px;
  left: 105%;
  padding: 0 10px;
  width: 120px;
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: aliceblue;
}

.more_actions_button:hover .tooltip_content {
  visibility: visible;
}

.tooltip_content div {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.more_actions_icon {
  width: 18px;
  height: 18px;
}

.task_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.actions_tooltip {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  border: 0.5px solid black;*/
/*}*/

/*.actions_tooltip:hover {*/
/*  visibility: visible;*/
/*}*/
